AZ_STORAGE_CONTAINER=inputs-data
AZ_STORAGE_EP=
NHP_API_URI=
NHP_API_KEY=
NHP_OUTPUTS_URI=https://connect.strategyunitwm.nhs.uk/nhp/{version}/outputs/
NHP_MODEL_RUN_PROGRESS_URI=https://connect.strategyunitwm.nhs.uk/nhp/model_run_progress/
FEEDBACK_FORM_URL=
YEAR_HORIZON_DEFAULT=2041
YEAR_HORIZON_MAX=2043
YEAR_BASELINE_DEFAULT=2024
YEAR_BASELINE_MIN=2023
CACHE_VERSION=
